:root, [data-bs-theme=light] {
  --bs-body-color: #212529;
  --bs-body-color-rgb: 33,37,41;
  --bs-secondary-color: rgba(33,37,41,0.75);
  --bs-secondary-color-rgb: 33,37,41,0.75;
  --bs-tertiary-color: rgba(33,37,41,0.5);
  --bs-tertiary-color-rgb: 33,37,41,0.5;
  --bs-body-bg: #fff;
  --bs-body-bg-rgb: 255,255,255;
  --bs-link-color: #1D809F;
  --bs-link-color-rgb: 29,128,159;
  --bs-link-hover-color: #17667f;
  --bs-link-hover-color-rgb: 23,102,127;
  --bs-border-color: #dee2e6;
}

[data-bs-theme=dark] {
  --bs-body-color: #212529;
  --bs-body-color-rgb: 33,37,41;
  --bs-secondary-color: rgba(33,37,41,0.75);
  --bs-secondary-color-rgb: 33,37,41,0.75;
  --bs-tertiary-color: rgba(33,37,41,0.5);
  --bs-tertiary-color-rgb: 33,37,41,0.5;
  --bs-body-bg: #ffffff;
  --bs-body-bg-rgb: 255,255,255;
  --bs-link-color: #1d809f;
  --bs-link-color-rgb: 29,128,159;
  --bs-link-hover-color: #17667f;
  --bs-link-hover-color-rgb: 23,102,127;
  --bs-border-color: #dee2e6;
}

